{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 150,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": ["*.jsx", "*.tsx"],
      "options": {
        "singleAttributePerLine": true
      }
    }
  ]
}
